<section class="hero is-link is-bold" id="dashboard_hero">

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title">
            <%= @task.name %>
          </h1>
          <p class="subtitle is-tag is-white">
            A task from <a href="/products/<%= @task.version.product.slug %>/versions/<%= @task.version.version_number%>"><%= "#{@task.version.product.name}  (#{@task.version.version_number})" %></a>
          </p>
          <div class="content is-medium">
            <p>Reward: $<%= @task.reward %></p>
          </div>
        </div>
        <div class="column">
          <span class="level is-centered">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claim this task</p>
                <p class="title is-light">
                  <a href="#" class="button">Claim</a>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Open Tasks</p>
                <p class="title"><span class="tag is-warning">placeholder</span></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Completed Tasks</p>
                <p class="title"><span class="tag is-warning">placeholder</span></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total Tasks</p>
                <p class="title"><span class="tag is-warning">placeholder</span></p>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
