<section class="hero is-light is-medium is-bold" id="dashboard_hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <%= @greeting %>, <%= @user.username + " &#128075;" %>
          </h1>
          <h2 class="subtitle">
            <% if @owned_products == 0 %>
              You don't have any product to work on yet.
              <a href="/products/new" class="button is-small is-primary is-outlined">Create your first product</a>
            <% else %>
              You have <%= @owned_products %> product<%= "s" if @owned_products > 1 %> to work on.
            <% end %>
          </h2>
        </div>

        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Current Tasks</p>
                <p class="title"><%= @user.open_claimed_tasks.count %></p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Current Tasks Value</p>
                <p class="title has-text-success has-text-weight-semibold">
                  $<%= sprintf "%.2f", @user.claimed_task_value %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pending</p>
                <p class="tag <% if @user.pending_balance > 0 %>is-warning<%else%>is-dark<%end%> is-large">
                  $<%= sprintf "%.2f", @user.pending_balance %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Account Balance</p>
                <p class="tag is-dark is-large">
                  $<%= sprintf "%.2f", @user.balance %>
                </p>
              </div>
            </div>
          </nav>

        </div>



      </div>
    </div>
  </div>
</section>

<br>

<section class="container" id="dashboard-tasks-table-section">
  <h2 class="title">Your Claimed Tasks</h2>
  <table class="table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Version</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user.claimed_tasks.each do |task| %>
      <%= erb :'/shared/_dash_update_status_modal', locals: {task: task} %>
      <tr>
        <th><%= task.id %></th>
        <td><a href="/products/<%= task.product.slug %>">
          <%= task.product.name %></a>
        </td>
        <td>
          <a class="tag" href="/products/<%= task.product.slug %>/versions/<%= task.version.version_number %>"><%= task.version.version_number %></a>
        </td>
        <td><strong><%= task.name %></strong></td>
        <td><%= task.description %></td>
        <td>
          <strong class="has-text-success">
            $ <%= sprintf "%.2f", task.reward %>
          </strong>
        </td>
        <td>
          <%= task.status %>
        </td>
        <td>
          <% unless task.status == "Complete" %>
          <a data-target="#statusModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-inverted">
            Update status
          </a>
          <% else %>
          <a class=" button is-small is-inverted" disabled>
            <span><i class="fas fa-check has-text-success"></i> Completed</span>
          </a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="container" id="dashboard-products-table-section">
  <h2 class="title">Your Products</h2>
  <a href="/products/new" class="button is-small">New product</a>
  <table class="table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Repository</th>
        <th>Current Station</th>
        <th>Last update</th>
      </tr>
    </thead>

    <tbody>
      <% @user.products.each do |product| %>
      <tr>
        <th><%= product.id %></th>
        <td><a href="/products/<%= product.slug %>">
          <%= product.name %></a>
        </td>
        <td><%= product.description %></td>
        <td><%= product.status %></td>
        <td>
          <a href="<%= product.git_repo %>"><%= product.git_repo %></a>
        </td>
        <td>
          <% if product.versions.empty? %>
          <a class="button is-link" href="/products/<%=product.slug%>/new_version">Create v1</a>
          <% else %>
          <a class="tag is-link" href="/products/<%=product.slug%>/versions/<%=product.versions.last.version_number%>">
            <%= product.versions.last.version_number %>
          </a>
          <% end %>
        </td>
        <td><%= product.updated_at.strftime("%B %-d, %Y, %H:%M") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<!-- Start Modal Open/Close Button -->

<script type="text/javascript">
  document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));

    target.classList.add('is-active');

    target.querySelector('.delete').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>

<!-- End Modal Open/Close Button -->
