<section class="hero <% if @greeting[:text] == "Have a productive day" || @greeting[:text] == "Good afternoon" %> is-light <%else%> is-dark <% end %> is-bold" id="dashboard_hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <%= @greeting[:text] %>, <%= @user.username + " #{@greeting[:emoji]}" %>
          </h1>
          <h2 class="subtitle">
              <% if @owned_products == 0 %>
                You haven't created any products for you to plan.
                <a href="/products/new" class="tag is-primary">Create a product</a>
              <% else %>
              <p class="content">
                <span class="tag is-dark">You manage <%= @owned_products %> product<%= "s" if @owned_products > 1 %></span>
              <% end %>

              <% if @user.open_claimed_tasks_count > 0 %>
                <span class="tag is-link">There <%= "are" if @user.open_claimed_tasks.count > 1 %><%= "is" if @user.open_claimed_tasks.count == 1 %> <%= @user.open_claimed_tasks.count %> open claimed task<%= "s" if @user.open_claimed_tasks.count > 1 %> to work on</span>
              <% else %>
                <span class="tag is-dark">You haven't claimed any tasks to work on yet</span>
              <% end %>

              <% if @user.has_items_for_review? %>
                <span class="tag is-warning">You have <%= @user.tasks_for_review.count %> open task<%= "s" if @user.tasks_for_review.count > 1 %> to review</span>
              <% else %>
                <span class="tag is-dark">Your products don't have any task submissions to review right now</span>
              <% end %>

            </p>

          </h2>
        </div>

        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks</p>
                <p class="title"><%= @user.open_claimed_tasks.count %></p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks Value</p>
                <p class="title has-text-success has-text-weight-semibold">
                  $<%= sprintf "%.2f", @user.claimed_task_value %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pending Rewards</p>
                <p class="tag <% if @user.pending_balance > 0 %>is-warning<%else%>is-dark<%end%> is-large">
                  $<%= sprintf "%.2f", @user.pending_balance %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Account Balance</p>
                <p class="tag is-dark is-large">
                  $<%= sprintf "%.2f", @user.balance %>
                </p>
              </div>
            </div>
          </nav>

        </div>



      </div>
    </div>
  </div>
</section>

<br>

<!-- Begin Tasks To Review Section -->

<section class="container" id="dashboard-review-section">
  <h2 class="title">Tasks to Review</h2>

  <% if @user.has_items_for_review? %>

  <table class="table is-size-7">

    <thead>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Version</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user_owned_products.each do |product| %>

        <% product.versions.each do |version| %>

            <% version.tasks.each do |task| %>

              <% if task.status == "Ready for Review" || task.status == "Reviewing" || task.status == "PR Submitted" ||
            task.status == "Accepted" %>
                <%= erb :'/shared/_dash_review_task_modal', locals: {task: task} %>
                <tr>
                  <th><%= task.id %></th>
                  <td><a href="/products/<%= task.product.slug %>">
                    <%= task.product.name %></a>
                  </td>
                  <td>
                    <a class="tag" href="/products/<%= task.product.slug %>/versions/<%= task.version.version_number %>"><%= task.version.version_number %></a>
                  </td>
                  <td><strong><%= task.name %></strong></td>
                  <td><%= task.description %></td>
                  <td>
                    <strong class="has-text-success">
                      $ <%= sprintf "%.2f", task.reward %>
                    </strong>
                  </td>
                  <td>
                    <%= task.status %>
                  </td>
                  <td>
                    <% unless task.status == "Completed" %>
                      <% if task.status == "Accepted" %>

                      <a data-target="#reviewTaskModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-white has-text-link">
                        Reopen Task
                      </a>

                      <% else %>

                        <a data-target="#reviewTaskModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-warning">
                          Review Task
                        </a>

                      <% end %>

                    <% else %>
                    <a class=" button is-small is-inverted" disabled>
                      <span><i class="fas fa-check has-text-success"></i> Completed</span>
                    </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            <% end %>

        <% end %>

      <% end %>
    </tbody>
  </table>

  <% else %>

  <div class="columns has-text-centered">
    <div class="column is-vcentered">
      <div class="subtitle">
        You don't have any tasks to review right now. &#128519;
      </div>
    </div>
  </div>

  <% end %>


</section>

<!-- End Tasks to Review Section -->

<br>

<!-- Begin Claimed Tasks Section -->

<section class="container" id="dashboard-tasks-table-section">
  <h2 class="title">Your Claimed Tasks</h2>

  <% if @user.open_claimed_tasks_count > 0 %>

  <table class="table is-size-7">

    <thead>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Version</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user.claimed_tasks.each do |task| %>



          <%= erb :'/shared/_dash_update_status_modal', locals: {task: task} %>
          <tr>
            <th><%= task.id %></th>
            <td><a href="/products/<%= task.product.slug %>">
              <%= task.product.name %></a>
            </td>
            <td>
              <a class="tag" href="/products/<%= task.product.slug %>/versions/<%= task.version.version_number %>"><%= task.version.version_number %></a>
            </td>
            <td><strong><%= task.name %></strong></td>
            <td><%= task.description %></td>
            <td>
              <strong class="has-text-success">
                $ <%= sprintf "%.2f", task.reward %>
              </strong>
            </td>
            <td>
              <%= task.status %>
            </td>
            <td>
              <% if task.status == "Completed" %>
              <a class=" button is-small is-success is-inverted" disabled>
                <strong><i class="fas fa-check-double has-text-success"></i> Complete +$<%=  sprintf "%.2f", task.reward %></strong>
              </a>
              <% elsif task.status == "PR Submitted" %>
              <a class=" button is-small is-inverted" disabled>
                <span><i class="fas fa-spinner fa-pulse"></i> PR Submitted</span>
              <% elsif task.status == "Reviewing" %>
              <a class=" button is-small is-warning" disabled>
                <span><i class="fas fa-spinner fa-pulse"></i> Reviewing</span>
              <% elsif task.status == "Accepted" %>
              <a class=" button is-small is-success is-inverted" disabled>
                <span><i class="fas fa-check has-text-success"></i> Accepted!</span>
              <% elsif task.status == "Rejected" %>
              <a data-target="#statusModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-danger">
                <span><i class="fas fa-exclamation-triangle"></i> Submit New PR</span>
              </a>
              <% else %>
              <a data-target="#statusModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-link">
                Update status
              </a>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>

  <div class="columns has-text-centered">
    <div class="column is-vcentered">
      <div class="subtitle">
        You haven't claimed any tasks yet. &#128549;

        <p><a href="/products">Browse products</a> and <span class="tag is-success">Claim</span> a task to start earning rewards.</p>
      </div>
    </div>
  </div>

  <% end %>

</section>

<!-- End Claimed Tasks Section -->

<!-- Start User's Products Sections -->

<section class="container" id="dashboard-products-table-section">
  <h2 class="title">Your Products</h2>
  <% if @owned_products > 0 %>
  <a href="/products/new" class="button is-small">New product</a>
  <table class="table is-size-7">

    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Repository</th>
        <th>Current Station</th>
        <th>Last update</th>
      </tr>
    </thead>

    <tbody>
      <% @user.products.each do |product| %>
      <tr>
        <th><%= product.id %></th>
        <td><a href="/products/<%= product.slug %>">
          <%= product.name %></a>
        </td>
        <td><%= product.description %></td>
        <td><%= product.status %></td>
        <td>
          <a href="<%= product.git_repo %>"><%= product.git_repo %></a>
        </td>
        <td>
          <% if product.versions.empty? %>
          <a class="button is-link" href="/products/<%=product.slug%>/new_version">Create v1</a>
          <% else %>
          <a class="tag is-link" href="/products/<%=product.slug%>/versions/<%=product.versions.last.version_number%>">
            <%= product.versions.last.version_number %>
          </a>
          <% end %>
        </td>
        <td><%= product.updated_at.strftime("%B %-d, %Y, %H:%M") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>

  <div class="columns has-text-centered">
    <div class="column is-vcentered">
      <div class="title is-size-4">
        <p class="has-text-centered">
          <a class="button is-medium is-success is-outlined" href="/new_product">Create your first product</a>
        </p>
        <div class="column is-three-fifths is-offset-one-fifth">
          <p class="subtitle"><a href="/products/new">Create your first product</a>, build the plan for your first version and inspire contributors to claim tasks and complete them for cash and equity rewards.  &#128640;</p>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</section>

<!-- End User's Products Section -->

<!-- Start Modal Open/Close Button -->

<script type="text/javascript">
  document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));

    target.classList.add('is-active');

    target.querySelector('.delete').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>

<!-- End Modal Open/Close Button -->
