<!-- Start Status modal -->
<div class="modal" id="statusModal-<%=task.id%>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <strong class="has-text-link"><%=task.name%></strong>
        <label class="label">Current Status: <%= task.status %></label>
      </p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="container has-text-centered">
        <div class="column">
          <div class="">
    <form action="/products/<%=task.product.slug%>/versions/<%=task.version.version_number%>/tasks/<%=task.id%>/update_status" method="post">
          </div>

          <input class="input" type="text" name="pr_link" <% if task.pr_link.nil? %>placeholder="Enter this task's Pull Request link"<%else%> value="<%=task.pr_link%>"<%end%>>
            <select id="status" class="input" type="text" name="status" placeholder="Choose a new status">
              <option value="Select a new status">Select a new status</option>
              <% @status_list.each do |status| %>
              <option <% if status == task.status %> class="is-active" <%end%> value="<%= status %>"><%= status %></option>
              <% end %>
            </select>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
        <input type="hidden" name="_method" value="PATCH">
        <input onsubmit="return confirm('Please confirm you wish to update this task.');" class="button is-link" type="submit" value="Update status">
        </form>
    </footer>
  </div>
</div>
<!-- End Status Modal -->
