<div class="container">
  <h1 class="title">
    All Products on Digital Founder
  </h1>

  <div class="container" id="products-index-products-table">

    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Founder</th>
          <th>Repository</th>
          <th>Current Version</th>
          <th>Founding Date</th>
          <th>Current Contributors</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <th><a href="/products/<%= product.slug %>">
            <%= product.name %></a>
          </th>
          <td><%= product.description %></td>
          <td>
            <a href="/users/<%= product.user.slug %>">
              <%= product.user.username %>
            </a>
          </td>
          <td>
            <a href="<%= product.git_repo %>"><%= product.git_repo %></a>
          </td>
          <% if !product.versions.empty? %>
          <td><a class="tag is-link" href="/products/<%=product.slug%>/versions/<%=product.versions.last.version_number%>"><%=product.versions.last.version_number %></a></td>
          <% else %>
            <td>
              <a class="tag is-success" href="/products/<%=product.slug%>/versions/new_version">Create v1</a>
            </td>
          <%end%>
          <td><%= product.created_at.strftime("%B %-d, %Y") %></td>
          <% if !product.versions.empty? %>
          <td>
            <a class="tag is-link" href="/products/<%=product.slug%>/versions/<%=product.versions.last.version_number%>"><%=product.versions.last.unique_contributors.count %></a>
          </td>
          <% else %>
          <td>
            <a class="tag is-link" href="#">0</a>
          </td>
          <%end%>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
